<footer class="sticky-footer bg-white shadow-sm mt-4">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>© @DateTime.Now.Year Tesorería Municipal de Villa Riva</span>
        </div>
    </div>
</footer>

