@inherits LayoutComponentBase

<div id="wrapper">
    <Sidebar />

    <div id="content-wrapper" class="d-flex flex-column">

        <div id="content">
            <Topbar />

            <div class="container-fluid py-4">
                @Body
            </div>
        </div>

        <Footer />

    </div>
</div>

